.coverage/
.idea/
.github/
.vscode/
android/
assets/
ci/
e2e/
fastlane/
ios/
node_modules/
scripts/
tf/
src/graphql/graphql-api/autogen
ts-build/
test/mocks/

metro.config.js
rn-cli.config.js
testConfig.js
babel.config.js
